#-------------------------------------------
#
#		Main config file for install
#
#-------------------------------------------

#-------------------------------------------
#				  Users
#-------------------------------------------

ROOT_PASSWORD=""
USERNAME=""
USERPW=""

#-------------------------------------------
#				  Drive
#-------------------------------------------

BOOT_DRIVE="/dev/nvme0n1p1"
ROOT_DRIVE="/dev/nvme0n1p2"

#-------------------------------------------
#				  Misc
#-------------------------------------------

MYHOSTNAME=MyPC
MYLOCALESED="'s/#en_AU.UTF-8 UTF-8/en_AU.UTF-8 UTF-8/g'"
MYLOCALE="/usr/share/zoneinfo/<Country>/<City>"
MYLANG="LANG=en_AU.UTF-8"
MYLANGUAGE="LANGUAGE=en_AU:en_GB:en"

INTEL_MICROCODE=false
AMD_MICROCODE=false

DOTFILE_GIT="https://github.com/Zipps/dotfiles.git"
DOTFILE_SCRIPT="expand.sh"
