#-------------------------------------------
#
#		Main config file for install
#
#-------------------------------------------

#-------------------------------------------
#			WiFi (optional)
#-------------------------------------------

SSID=""
WIFI_PASSPHRASE=""
WIFI_ADAPTER=""

#-------------------------------------------
#				  Users
#-------------------------------------------

ROOT_PASSWORD=""
USERNAME=""
USERPW=""

#-------------------------------------------
#				  Drive
#-------------------------------------------

DRIVE_PASSPHRASE=""
BOOT_DRIVE=""
ROOT_DRIVE=""
CRYPT_NAME=""
ROOT_MAP=""

MAP_DRIVE=""
SWAP_DRIVE=""
SWAP_SIZE=

#-------------------------------------------
#				  Misc
#-------------------------------------------

DRIVE_PASSPHRASE=
CRYPT_NAME=""
BOOT_DRIVE="/dev/sda1"
ROOT_DRIVE="/dev/sda2"

MYHOSTNAME=MyPC
MYLOCALESED="'s/#en_AU.UTF-8 UTF-8/en_AU.UTF-8 UTF-8/g'"
MYLOCALE="/usr/share/zoneinfo/<Country>/<City>"
MYLANG="LANG=en_AU.UTF-8"
MYLANGUAGE="LANGUAGE=en_AU:en_GB:en"

ISINTEL=true

ROOT_PASSWORD=""
USERNAME=""
USERPW=""

DEFAULT_PACKAGES="firefox-nightly vim git code termite powerline powerline-fonts-git stow"
DOTFILE_GIT="https://github.com/Zipps/dotfiles.git"